In [2]:
import pandas as pd

In [5]:
df = pd.read_excel("data.xlsx")

In [6]:
df.head()

,CC,CC Delivery time (Business days),CC Reordeing frequency (business days),Additional Buffer to be ordered,Location,Location City,Catalogue Type,Model Desgination,Part_Number,Part Description,...,Lease In Months,Instock,quantity_on_order,Proposal ID,Key,quantity_to_order(calc),Trend_fit,Price\n(KRW)_x,total_price_calc,Price\n(KRW)_y
0,KR,25,22,0.25,9AAE100499,Cheonan-si,(Cases & Bags),(Backpacks),4X41A30364,BO Essential Plus 15.6 BackPack (Eco),...,18+,4,0,KRABB 2024-09 SRP,9AAE100499ABB | 4X41A30364,7,7,49941.36,349589.52,49941.36
1,KR,25,22,0.25,9AAE101713,Busan,(Cases & Bags),(Backpacks),4X41A30364,BO Essential Plus 15.6 BackPack (Eco),...,18+,3,0,KRABB 2024-09 SRP,9AAE101713ABB | 4X41A30364,0,0,49941.36,0.00,49941.36
2,KR,25,22,0.25,9AAE105104,Seoul,(Cases & Bags),(Backpacks),4X41A30364,BO Essential Plus 15.6 BackPack (Eco),...,18+,2,1,KRABB 2024-09 SRP,9AAE105104ABB | 4X41A30364,7,6,49941.36,349589.52,49941.36
3,KR,25,22,0.25,9AAE100499,Cheonan-si,(Cases & Bags),(Briefcases\Toploads),4X41A30365,BO Essential Plus 15.6 Topload (Eco),...,18+,2,1,KRABB 2024-09 SRP,9AAE100499ABB | 4X41A30365,0,0,38843.28,0.00,38843.28
4,KR,25,22,0.25,9AAE101713,Busan,(Cases & Bags),(Briefcases\Toploads),4X41A30365,BO Essential Plus 15.6 Topload (Eco),...,18+,2,0,KRABB 2024-09 SRP,9AAE101713ABB | 4X41A30365,0,0,38843.28,0.00,38843.28

In [8]:
df.columns

Index(['CC', 'CC Delivery time (Business days)',
       'CC Reordeing frequency (business days)',
       'Additional Buffer to be ordered', 'Location', 'Location City',
       'Catalogue Type', 'Model Desgination', 'Part_Number',
       ' Part Description', 'Part Type (Stock Vs Non Stock)',
       'Order Calculation \nBased On', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6',
       'avg_demand_per_month', 'avg_demand/day', 'Pending_Task',
       'Lease In Months', 'Instock', 'quantity_on_order', 'Proposal ID', 'Key',
       'quantity_to_order(calc)', 'Trend_fit', 'Price\n(KRW)_x',
       'total_price_calc', 'Price\n(KRW)_y'],
      dtype='object')

In [9]:
selected_columns_for_dashboard = df[[
    'Part_Number', 'Location', 'Location City', 'Model Desgination', 'Trend_fit', 'Price\n(KRW)_x', 'total_price_calc']]

In [10]:
selected_columns_for_srp = df[[
    'Part_Number', 'Location', 'Location City', 'Model Desgination', 'Trend_fit', 'Price\n(KRW)_x', 'total_price_calc']]

In [11]:
selected_columns_for_Catalogue = df[[
    'Part_Number', 'Location', 'Location City', 'Model Desgination', 'Price\n(KRW)_x']]

In [12]:
selected_columns_for_Catalogue.shape

(217, 5)

In [17]:
asd=selected_columns_for_Catalogue.groupby(['Part_Number', 'Location'])

In [19]:
asd.mean()

C:\Users\Admin\AppData\Local\Temp\ipykernel_16368\2307251484.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  asd.mean()

                        Price\n(KRW)_x
Part_Number Location
0A36271     9AAE100499        38843.28
            9AAE101713        38843.28
            9AAE105104        38843.28
0A36537     9AAE100499        20808.90
0A61769     9AAE100499        45779.58
...                                ...
63CFMARXKR  9AAE105104       192829.14
78Y2361     9AAE100499        49941.36
            9AAE101713        49941.36
            9AAE105104        49941.36
ZDT-00004   9AAE100499      1847039.58

[206 rows x 1 columns]

In [21]:
selected_columns_for_Catalogue.drop_duplicates(
    subset=['Part_Number', 'Location'])

,Part_Number,Location,Location City,Model Desgination,Price\n(KRW)_x
0,4X41A30364,9AAE100499,Cheonan-si,(Backpacks),49941.36
1,4X41A30364,9AAE101713,Busan,(Backpacks),49941.36
2,4X41A30364,9AAE105104,Seoul,(Backpacks),49941.36
3,4X41A30365,9AAE100499,Cheonan-si,(Briefcases\Toploads),38843.28
4,4X41A30365,9AAE101713,Busan,(Briefcases\Toploads),38843.28
...,...,...,...,...,...
212,21LLS12R01,9AAE100499,Cheonan-si,(Tablet),1935227.70
213,21LLS12R01,9AAE101713,Busan,(Tablet),1935227.70
214,4XD1M45626,9AAE105104,Seoul,(Headsets),58264.92
215,4XD1M45626,9AAE100499,Cheonan-si,(Headsets),58264.92
216,4XD1M45626,9AAE101713,Busan,(Headsets),58264.92